*{
	margin:  0;
	padding: 0;
}
body
{
  background-color: #efefef;
}
header 
{
  background-color: rgba(#388E3C,0.9);
  height: 70px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  position: fixed;
  text-align: left; 
  top: 0;
  width: 100%;
  z-index: 99;
  
  nav 
  {
    display: none;
    float: right;
    height: 50px;
    margin: 10px 5px 0 0;
    vertical-align: middle; 
    ul 
    {
      list-style: none;
      padding: 0; 

      li 
      {
        display: inline-block;
        font-weight: bold; 
        a 
        {
          border-radius: 3px;
          color: #e9e9e9;
          display: block;
          font-size: 13px;
          font-weight: bold;
          height: 50px;
          line-height: 50px;
          padding: 0 10px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase; 
          &:hover 
          {
            background-color: #FF5722;
            color: #FFFFFF;
            text-decoration: none; 
          }
        }
      }
    }
  }
  .logo 
  {
    height: 50px;
    display: inline-block;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: 13px center;
    background-size: 135px;
    margin-top: 10px;
    width: 150px; 
  }
}
.contenido {
  margin: 0 auto;
  max-width: 100%;
  width: 1000px;
  margin-top: 100px;
}
.listaJuegos
{
  padding: 0;
  list-style: none;
  li
  {
    
    padding: 0;
    a
    {
      color: #333;
      font-style: italic;
      text-decoration: none;
      text-align: center;
      margin: 2em auto;
      display: block;
      padding: 10px;
      width: 90%;
      background-color: #fff;
      box-shadow: 0px 0px 10px #ccc;

      &:hover
      {
        text-decoration: underline;
      }
      img
      {
        max-width: 90%;
      }
    }
  }
}
.encabezado
{	
  display: none;
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
  text-align: right;
}
.contenedor-chat{
    display: inline-block;
	width: 35%;
	height: 592px;
	border: 1px solid #000;
}

.contenedor-juego
{
  max-width: 500px;
  margin: 0 auto;

  .contenedor-puntajes
  {
    .yo,
    .oponente
    {
      width: 49%;
      display: inline-block;
      vertical-align: middle;
      .avatar
      {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        vertical-align: middle;
        display: inline-block;
        img
        {
          width: 100%;
          height: 100%;
        }
      }
      .datos
      {
        display: inline-block;
        width: 65%;
        position: relative;
        vertical-align: middle;
        .contador
        {
          background-color: #333;
          color: #e9e9e9;
          padding: 10px;
          border-radius: 5px;
          width: 25px;
          height: 25px;
          line-height: 25px;
          font-size: 20px;
          top: -14px;
          text-align: center;
          position: absolute;
        }
        .miContador
        {
          right: 0;
        }
        .suContador
        {
          left: 0;
        }
      }
    }
    .yo
    {
      text-align: left;
    }
    .oponente
    {
      text-align: right;
    }
  }
}
.batalla
{
  .yo,
  .oponente
  {
    width: 49%;
    height: 150px;
    display: inline-block;
    img
    {
      width: 100%;
    }

  }
}
.opciones
{
  
  height: 200px;
  text-align: center;
  position: relative;
  div
  {
    width: 32%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;
  }

.jugarDnuevo{
  color: #fff;
  margin: 0 auto;
  opacity: 0.5;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0; 
  background-color:rgba(#333,0.8);
  line-height: 200px;

}


  .piedra
  {
  	background-image: url("../img/piedra.jpg");
  }
  .papel
  {
  	background-image: url("../img/papel.jpg");
  }

  .tijera
  {
  	background-image: url("../img/tijera.jpg");
  }
}

.resultado
{
  padding: 15px;
  text-align: center;
  background: blue;
  color: #e9e9e9;
  font-size: 20px;
  margin-bottom: 10px;
}
.inicio
{
  background-color: #2980b9;  
}
.ganaste
{
  background-color: #27ae60;
}
.perdiste
{
  background-color: #e74c3c;
}

.formulario{
  padding: 20px;
	border: 1px solid #000;
  width: 409px;
  height: 48px;
  top: 556px;
  left: 897px;}
  
     
  
  .contenedor-chat .formulario input[type="text"]{
    width: 210px;
    height: 30px;
    border: 1px solid #000;
    vertical-align: top;
  }  

  .btn_enviar{
    border: 1px solid #000;
    width: 83px; 
    height: 30px;
    background-image: url("../img/send.png");
    background-repeat: no-repeat;
    text-align: center;
    margin-left: 10px;
  }


  