
*{
	margin:  0;
	padding: 0;
}



.encabezado{	
  padding: 20px;
	width: 96%;
	height: 20px;
    border: 1px solid #000;
  text-align: right;
}

.contenedor-juego{
	display: inline-block;
	width: 65%;
	height: 592px;
	border: 1px solid #000;
}

.contenedor-chat{
    display: inline-block;
	width: 35%;
	height: 592px;
	border: 1px solid #000;
}

.contenedor-puntajes{
 width: 694px;
  height: 55px;
  top: 260px;
  left: 76px;
}

.p-oponente1{
	border: 1px solid #000;
  width: 280px;
  height: 3px;
  top: -174px;
  left: 6px;
  padding: 10px;
  font-weight: bold;
}

.puntaje1{

	border: 1px solid #000;
  width: 53px;
  height: 25px;
  top: 2px;
  left: 272px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  border-radius: 50px;
}

.nombre-oponente1{
  
  border: 1px solid #000;
  width: 50px;
  height: 54px;
  top: -194px;
  left: -42px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  border-radius: 50%;

}
.nombre-oponente1 img{
  width: 100%;
  height: 131%;
  border-radius: 50%;
  top: -16px;
}
.nombre-oponente2{
  
  border: 1px solid #000;
  width: 50px;
  height: 54px;
  top: -194px;
  left: 633px;
  text-align: center;
  padding-top: 16px;
  font-weight: bold;
  border-radius: 50%;

}

.nombre-oponente2 img{
  width: 100%;
  height: 131%;
  border-radius: 50%;
  top: -16px;

}
  
.puntaje2{
  border: 1px solid #000;
  width: 53px;
  height: 25px;
  top: 2px;
  left: -27px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  border-radius: 50px;

}

.p-oponente2{
  border: 1px solid #000;
  width: 280px;
  height: 3px;
  top: -174px;
  left: 352px;
  padding: 10px;
  font-weight: bold;
  text-align: right;
  padding-left: 0px;

}

.animaciones-oponentes{
	border: 1px solid #000;
  width: 689px;
  height: 292px;
  top: 168px;
  left: 82px;

}

.oponente1{
	
	background-image: url("../img/ppt.gif");
	background-size: 273px;
	background-repeat: no-repeat;

	  border: 1px solid #000;
  width: 257px;
  height: 207px;
  top: 36px;
  left: 41px;

}

.oponente2{
	background-image: url("../img/ppt.gif");
	background-size: 273px;
	background-repeat: no-repeat;
	  border: 1px solid #000;
  width: 257px;
  height: 207px;
  top: 33px;
  left: 380px;
}

.opciones{
 border: 1px solid #000;
  width: 689px;
  height: 154px;
  top: 463px;
  left: 82px;

}

.piedra{
	background-position: -5px;
	background-image: url("../img/jankenpon.jpg");
	background-size: 329%;
	background-repeat: no-repeat;
	border: 1px solid #000;
  width: 138px;
  height: 137px;
  top: 6px;
  left: 82px;

}

.papel{
	background-image: url("../img/jankenpon.jpg");
	background-size: 500px;
	background-position: -180px;
	background-repeat: no-repeat;
	  border: 1px solid #000;
  width: 150px;
  height: 139px;
  top: 5px;
  left: 261px;
}

.tijera{
	background-image: url("../img/jankenpon.jpg");
	background-size: 500px;
	background-position: -334px;
	background-repeat: no-repeat;
	border: 1px solid #000;
  width: 150px;
  height: 139px;
  top: 5px;
  left: 468px;
}

.formulario{
  padding: 20px;
	border: 1px solid #000;
  width: 409px;
  height: 48px;
  top: 556px;
  left: 897px;}
  
     
  
  .contenedor-chat .formulario input[type="text"]{
    width: 210px;
    height: 30px;
    border: 1px solid #000;
    vertical-align: top;
  }  

  .btn_enviar{
    border: 1px solid #000;
    width: 83px; 
    height: 30px;
    background-image: url("../img/send.png");
    background-repeat: no-repeat;
    text-align: center;
    margin-left: 10px;
  }


  